Name: Filza File Manager
Package: com.tigisoftware.filza
Priority: optional
Depends: firmware (>= 7.0), zip, unzip, gzip, unrar, p7zip
Conflicts: com.tigisoftware.filza64bit
Version: 3.6.3
Architecture: iphoneos-arm
Description: File Manager for iPhone, iPad, iPod Touch. Supports iOS 7+
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=filzafilemanagerDp
Depiction: https://B3ND1X.github.io/R3P0/depictions/?p=com.tigisoftware.filza.deb
Sponsor: thebigboss.org <http://thebigboss.org>
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: TIGI Software <satashi2009@gmail.com>
Section: Utilities
Tag: purpose::uikit, compatible::ios7, compatible::ios8, compatible::ios9, compatible::ios10, compatible::ios11, compatible::ios12
Installed-Size: 27513
dev: satashi2009
Icon: file:///Applications/Filza.app/AppIcon57x57.png
